:root {
  --color-text: #e3eee9;
  --color-background: #01140d;
  --color-primary: #87f7cb;
  --color-secondary: #0b2aa3;
  --color-accent: #5d3789;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}
