:root {
  --color-text: #e3eee9;
  --color-text-hover: #a3f2ce;
  --color-background: #01140d;
  --color-primary: #87f7cb;
  --color-secondary: #0b2aa3;
  --color-accent: #5d3789;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

#app {
  width: 100%;
  font-weight: normal;
}

#app {
  display: flex;
  flex-direction: column;
}
